<div id="keyboard">
    <div class="row">
        <key data-key="q">q</key>
        <key data-key="w">w</key>
        <key data-key="e">e</key>
        <key data-key="r">r</key>
        <key data-key="t">t</key>
        <key data-key="y">y</key>
        <key data-key="u">u</key>
        <key data-key="i">i</key>
        <key data-key="o">o</key>
        <key data-key="p">p</key>
    </div>
    <div class="row">
        <div class="spacer half"></div><key data-key="a">a</key>
        <key data-key="s">s</key>
        <key data-key="d">d</key>
        <key data-key="f">f</key>
        <key data-key="g">g</key>
        <key data-key="h">h</key>
        <key data-key="j">j</key>
        <key data-key="k">k</key>
        <key data-key="l">l</key>
        <div class="spacer half"></div>
    </div>
    <div class="row"><key data-key="â†µ" class="one-and-a-half">enter</key>
        <key data-key="z">z</key>
        <key data-key="x">x</key>
        <key data-key="c">c</key>
        <key data-key="v">v</key>
        <key data-key="b">b</key>
        <key data-key="n">n</key>
        <key data-key="m">m</key>
        <key data-key="â†" class="one-and-a-half">
            <game-icon icon="backspace">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path fill="var(--color-tone-1)"
                        d="M22 3H7c-.69 0-1.23.35-1.59.88L0 12l5.41 8.11c.36.53.9.89 1.59.89h15c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H7.07L2.4 12l4.66-7H22v14zm-11.59-2L14 13.41 17.59 17 19 15.59 15.41 12 19 8.41 17.59 7 14 10.59 10.41 7 9 8.41 12.59 12 9 15.59z">
                    </path>
                </svg>
            </game-icon>
        </key>
    </div>
</div>