<div id="panel">
    <div class="row">
        <div class="tile" data-state="empty"></div>
        <div class="tile" data-state="empty"></div>
        <div class="tile" data-state="empty"></div>
        <div class="tile" data-state="empty"></div>
        <div class="tile" data-state="empty"></div>
    </div>
    <div class="row">
        <div class="tile" data-state="empty"></div>
        <div class="tile" data-state="empty"></div>
        <div class="tile" data-state="empty"></div>
        <div class="tile" data-state="empty"></div>
        <div class="tile" data-state="empty"></div>
    </div>
    <div class="row">
        <div class="tile" data-state="empty"></div>
        <div class="tile" data-state="empty"></div>
        <div class="tile" data-state="empty"></div>
        <div class="tile" data-state="empty"></div>
        <div class="tile" data-state="empty"></div>
    </div>
    <div class="row">
        <div class="tile" data-state="empty"></div>
        <div class="tile" data-state="empty"></div>
        <div class="tile" data-state="empty"></div>
        <div class="tile" data-state="empty"></div>
        <div class="tile" data-state="empty"></div>
    </div>
    <div class="row">
        <div class="tile" data-state="empty"></div>
        <div class="tile" data-state="empty"></div>
        <div class="tile" data-state="empty"></div>
        <div class="tile" data-state="empty"></div>
        <div class="tile" data-state="empty"></div>
    </div>
    <div class="row">
        <div class="tile" data-state="empty"></div>
        <div class="tile" data-state="empty"></div>
        <div class="tile" data-state="empty"></div>
        <div class="tile" data-state="empty"></div>
        <div class="tile" data-state="empty"></div>
    </div>
</div>