<div id="panel">
    <% for(let i=0; i<6; i++) { %>
    <div class="row">
        <% for(let j=0; j<5; j++) { %>
        <div class="tile" data-state="empty"></div>
        <% } %>
    </div>
    <% } %>
    <div id="messageContainer"></div>
</div>
<div id="loader" data-loading="false"></div>